# ignore js foo, anywhere
**/node_modules/

# ignore built binaries
cmd/scuttle-shell/scuttle-shell
cmd/scuttle-shell/scuttle-shell.exe

# ignore crash/test data
**/testrun/
**/panics/
plugins/blobs/testdata
plugins/gossip/testdata

# ignore go analysis files, anywhere
**/c.out
**/trace.out

# ignore my logfiles
*.log

*.exe
_FOSSIL_

builds/**